#fp-hlsjs {
	background-image: url("logo.jpg");
	background-size: auto 100%
}

@media ( -webkit-min-device-pixel-ratio :2) , ( min-resolution :2dppx) {
	#fp-hlsjs {
		background-image: url("logo.jpg")
	}
	
}
.player-frame-wrapper {
  position: relative;
  width: 100%;
}
.player-frame-wrapper-ratio {
  /* same as player ratio */
  padding-top: 56.25%;
}
 
.player-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}
#body {
      font-family: "myriad pro", tahoma, verdana, arial, sans-serif;
      font-size: 14px;
      margin: 0;
      padding: 0;
   }
#content {
      margin: 50px auto;
      max-width: 482px;
      max-heigth:500px;
   }
   
  body, html {
  no scrollbars
  overflow: hidden;
 
  pin player to top left corner of page/iframe
  margin: 0;
  padding: 0;
}  